<div class="container article-container" >
    <div class="">
        <h1 class="display-4"><%= articles.title %></h1>
        <p class="lead"><%= articles.author %> - <%= articles.date %></p>
        <p><%= articles.about %></p>
        <hr class="my-4">
        <p><%= articles.content %> </p>
      </div>
</div>